<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <main>
        <h1 class="main-title"><i>Shree Mari-Aai Dodha Sanstha Karnur</i></h1>
    </main>
</div>
    <title>Bill Receipt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <style type="text/css">
        
        form.no-style-form {
        all: unset; /* Saari styling hata do */
        } 
    </style>
</head>
<body>

<nav>
    <div class="dropdown" id="fatDropdown">
        <button class="dropdown-btn" type="button" onclick="toggleDropdown()">Fat</button>
        <div class="dropdown-content" id="dropdownMenu">

            <a href="/fselect">Select</a>

            {% if session.get('user_type') == 'admin' %}
            <a href="/finsert">Insert</a>
            <a href="/fupdate">Update</a>
            <a href="/fdelete">Delete</a>
            
            {% endif %}
        </div>
    </div>
    
    {% if session.get('user_type') == 'admin' %}
    <div class="dropdown" id="cDropdown">
        <button class="dropdown-btn" type="button" onclick="toggleDropdownc()">Customer</button>
        <div class="dropdown-content" id="dropdownMenu">
            <a href="/cselect">Select</a>
            <a href="/cinsert">Insert</a>
            <a href="/cupdate">Update</a>
            <a href="/cdelete">Delete</a>
        </div>
    </div>
    {% endif %}
    
    <div class="dropdown" id="mDropdown">
        <button class="dropdown-btn" type="button" onclick="toggleDropdownm()">Milk</button>
        <div class="dropdown-content" id="dropdownMenu">
            
            {% if session.get('user_type') == 'admin' %}
            <a href="/mselect">Select milk</a>
            <a href="/minsert">Insert milk</a>
            <a href="/mupdate">Update milk</a>
            <a href="/mdelete">Delete milk</a>
            {% endif %}
            
            {% if session.get('user_type')=='customer' %} 
            <a href="/mcselect" >Select milk of customer</a>
            {% endif %}
        </div>
    </div>
    <div class="dropdown" id="lDropdown">
        <button class="dropdown-btn" type="button" onclick="toggleDropdownl()">Loan</button>
        <div class="dropdown-content" id="dropdownMenu">
            
            {% if session.get('user_type') == 'admin' %}
            <a href="/lselect">View loan customer</a>
            <a href="/linsert">Insert or add loan</a>
            {% endif %}
            
            <a href="/ldelete">Loan history</a>
        </div>
    </div>
    <div class="dropdown" id="bDropdown">
    <button class="dropdown-btn" type="button" onclick="toggleDropdownb()">Bill</button>
        <div class="dropdown-content" id="dropdownMenu">
            
            {% if session.get('user_type') == 'admin' %}
            <a href="/bill">Generate bill</a>
            {% endif %}
            
            <a href="/billhistory">Bill history</a>
        </div>
    </div>
    <div class="dropdown" id="boDropdown">
    <button class="dropdown-btn" type="button" onclick="toggleDropdownbo()">Bonus</button>
        <div class="dropdown-content" id="dropdownMenu">
            
            {% if session.get('user_type') == 'admin' %}
            <a href="/bonus">Create Bonus</a>
            <a href="/bodelete">See & Delete bonus</a>
            {% endif %}
            
            <a href="/bonushistory">Bonus history</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="/login" class="dropdown-btn logout-link">Logout</a>   
    </div> 
</nav>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash-message flash-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% if bill %}
<h2>All Bonus records </h2>
<table>
    <tr>
        <th class="th">Bonus number</th>
        <th class="th">Custno</th>
        <th class="th">Customer Name</th>
        <th class="th">Period</th>
        <th class="th">Total Milk</th>
        <th class="th">Total Price</th>
        <th class="th">Percentage</th>
        <th class="th">Bonus</th>
        <th class="th">Action</th>
    </tr>
    {% for bill_info in bill %}
    <tr>
        <td>{{ bill_info[0] }}</td>
        <td>{{ bill_info[1] }}</td>
        <td>{{ bill_info[2] }}</td>
        <td>{{ bill_info[3] }} to {{ bill_info[4] }}</td>
        <td>{{ bill_info[5] }} Liters</td>
        <td>₹{{ bill_info[6] }}</td>
        <td>{{ bill_info[7] }} </td>
        <td>₹{{ bill_info[8] }}</td>
        <td>
            <!-- Delete button wrapped inside a form -->
            <form action="{{ url_for('delete', bid=bill_info[0]) }}" method="POST" class="no-style-form">
                <input type="submit" class="submit1"value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<footer>
  <p>&copy; 2025 Shree Mari-Aai Dodha Sanstha Karnur. All Rights Reserved.<br>Created by Shivraj Patil.</p>
</footer>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>